@import '../../../../../../../../../index';

.date-input {
    background-color: $fa-color-blue-light;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: $fa-color-white-primary;
    display: flex;
    height: 25px;
    justify-content: space-between;
    margin-bottom: 20px;
    outline: none;
    padding: 7px 7px 7px 12px;
    width: 430px;

    &__format {
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-style: italic;
    }
}
