@import '../../../../../../../../../index';

.form-checkbox-group {
    background-color: $fa-color-blue-light;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
    text-align: left;
    padding: 7px 7px 7px 12px;
    min-height: 35px;

    &__options-container {
        min-width: 100px;
    }

    &__checkbox {
        accent-color:  $fa-color-cyan-primary;
        cursor: pointer;
        height: 20px;
        transition: all 250ms ease;
        width: 20px;
    }

    &__label {
        cursor: pointer;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        &__input-line {
            position: relative;
        }

        &__line {
            background: $fa-color-cyan-primary;
            bottom: 0;
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            transition: 0.3s all ease;
            width: 0;
        }

        &__input-text {
            background-color: $fa-color-blue-dark;
            border: none;
            border-bottom: 1px solid $fa-color-gray-lighter;
            border-radius: 0;
            box-shadow: none;
            color: $fa-color-white-primary;
            font-size: 15px;
            outline: none;
            padding: 7px;
            width: 330px;

            &--add {
                font-style: italic;
            }

            &:focus {
                border-bottom: 1px solid $fa-color-blue-dark;
            }

            &:focus + .checkbox-group__label__line {
                width: 100%;
            }
        }
    }

    &__icon {
        cursor: pointer;
        margin-bottom: 10px;
    }
}
