@import '../../../../../../index';

.build-form {
    width: 100%;
    background-color: $fa-color-gray-light;
    border-left-color: $fa-color-gray-lighter;
    border-left-width: 0.1em;
    border-left-style: solid;
}

.h1 {
    color: white;
}
