@import '../../../../../../../index';

.form-title {
    align-items: center;
    background-color: $fa-color-gray-lighter;
    color: $fa-color-white-primary;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    left: 0;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    text-align: center;

    &__icon {
        padding-right: 10px;
        width: 20px;
    }
}
