@import '../../../../../../index';

.form-area {
    background-color: $fa-color-gray-light;
    border-left-color: $fa-color-gray-lighter;
    border-left-style: solid;
    border-left-width: 0.1em;
    display: flex;
    justify-content: center;
    text-align: right;
    width: 100%;

    &__form-section {
        background-color: $fa-color-blue-dark;
        border-radius: 20px;
        height: 450px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        min-height: 400px;
        text-align: center;
        width: 100%;
    }
}
