@import '../../../../../../index';

.form-area {
    background-color: $fa-color-gray-light;
    border-left-color: $fa-color-gray-lighter;
    border-left-style: solid;
    border-left-width: 0.1em;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    padding: 70px;

    &__form-section {
        background-color: $fa-color-blue-dark;
        border-radius: 20px;
        min-height: auto;
        text-align: center;
        width: 100%;
    }
}
