@import '../../../../../../index';

.section-area {
    color: $fa-color-white-primary;
    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
    margin: 30px;

    &__field-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0;
    }
}
