@import '../../../../../../index';

.title-add-input {
    color: $fa-color-white-primary;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
    text-align: left;
}