@import '../../../../../../index';

.form-title {
    align-items: center;
    background-color: $fa-color-gray-lighter;
    color: $fa-color-white-primary;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    left: 0;
    padding: 12px;
    position: relative;
    text-align: center;

    input {
        height: 42px;
        width: 100%;
        padding: 0 16px;
        border-radius: 4px;
        background-color: $fa-color-white-primary ;
        border: none;
        border-bottom: 1px solid $fa-color-gray-lighter;
        box-shadow: none;
        color: $fa-color-blue-light;
        font-size: 15px;
        outline: none;
    }
}
