@import '../../../../../../index';

.slide-menu {
    background-color: $fa-color-gray-light;
    height: 100%;
    padding-bottom: 20px;
    text-align: center;
    width: 340px;
    position: fixed;
    left: 0;
    top: 59px;
}
