@import '../../../../index';

.fa-field-menu {
    background-color: $fa-color-gray-light;
    text-align: center;
    width: 300px;
    height: 100%;
    padding-bottom: 20px;

    &__logo {
        vertical-align: bottom;
        margin: 30px;
        width: 70px;
    }

    &__icon-add {
        width: 18px;
        padding-right: 10px;
    }

    &__h1 {
        padding-left: 20px;
        font-size: 1.125rem;
        max-width: 67rem;
        color: $fa-color-white-primary;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 15px;
        height: 22px;
        font-size: 32px;
        text-align: left;
        padding-left: 40px;
        padding-bottom: 40px;
        color: $fa-color-white-primary;
    }
}
