@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

// Mercado Libre App
$ml-color-yellow-primary: #FFE600;
$ml-color-gray-dark: #333333;
$ml-color-gray-light: #999999;
$ml-color-gray-Lighter: #EEEEEE;
$ml-color-green-primary: #3483FA;
$ml-color-white-primary: #fff;

// definidos para Forms App
$fa-color-cyan-primary: #0dd4c4;
$fa-color-blue-dark: #392c58;
$fa-color-gray-light: #615E67;
$fa-color-gray-lighter: #9b9292c1;
$fa-color-white-primary: #fff;
$fa-color-green-dark: #175127;
$fa-color-orange-dark: #c7720e;
$fa-color-red-dark: #551221;
$fa-color-black: #313131;

body {
  background-color: $ml-color-gray-Lighter;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
