@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

$fa-color-cyan-primary: #0dd4c4;
$fa-color-blue-dark: #201A30;
$fa-color-blue-light: #31264e;
$fa-color-gray-light: #615E67;
$fa-color-gray-lighter: #9b9292c1;
$fa-color-white-primary: #fff;
$fa-color-green-dark: #175127;
$fa-color-orange-dark: #c7720e;
$fa-color-red-dark: #551221;
$fa-color-black: #313131;

body {
  background-color: $fa-color-gray-lighter;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-width: 1400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
