@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

$fa-color-cyan-primary: #0dd4c4;
$fa-color-blue-dark: #201A30;
$fa-color-blue-dark-2: #140B2A;
$fa-color-blue-light: #31264e;
$fa-color-gray-light: #615E67;
$fa-color-gray-lighter: #9b9292c1;
$fa-color-white-primary: #fff;
$fa-color-green-dark: #175127;
$fa-color-orange-dark: #c7720e;
$fa-color-red-dark: #551221;
$fa-color-black: #313131;
$fa-color-green: #0DD4C4;

body {
  background-color: $fa-color-blue-dark-2;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@keyframes dotScroll {
  0% {
    background-position-y: 140px
  }

  to {
    background-position-y: 0
  }
}

div#root:after {
  content: "";
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(circle, rgba(13, 212, 196, 0.24) var(--dot-size), transparent 0);
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: 5px 0;
  padding-left: 1rem;
  padding-right: 1rem
}

div#root {
  --dot-size: 1.8px;
}

div#root:after {
  position: absolute;
  inset: 0;
  z-index: -10
}
