.user-forms-title {
  width: 90%;
  display: flex;
  align-items: center;
  background: #201A30;
  border-radius: 15px;
  margin: 24px 0;
  padding: 15px;

  b {
    width: 290px;
    height: 50px;
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin-left: 12px;
  }

  @media screen and (max-width: 455px) {

    padding: 5px;
    b {
      font-size: 25px;
      margin-left: 5px;
    }

    &__icon-container {
      padding-right: 0;
    }
  }

  @media screen and (max-width: 355px) {
    b {
      font-size: 20px;
    }
  }

}
