.form-use-case {

  &__button-content {
    display: flex;
    height: 59px;
    border-radius: 15px;
    opacity: 0.5;
    margin-bottom: 2px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button-option {
    display: flex;
    height: 59px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    justify-content: space-between;
    background-color: #38304D;
    cursor: pointer;
    color: white;
    width: 100%;
    align-items: center;
  }

  &__name-status-container {
    display: flex;
    flex-direction: row;
  }

  &__name-status{
    display: block;
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin-left: 40px;
  }

  @media screen and (max-width: 800px) {
    &__name-status {
      font-size: 18px;
    }
  }
}
