.form-title {

  &__container {
    width: 90%;
  }

  &__title {
    display: flex;
    align-items: center;
    background: #201A30;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 15px;

    b {
      width: 290px;
      height: 50px;
      font-size: 37px;
      line-height: 44px;
      color: white;
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 455px) {
    &__title{
      b {
        font-size: 25px;
      }
    }
  }

  @media screen and (max-width: 355px) {
    &__title{
      b {
        font-size: 17px;
      }
    }
  }
}