.return-button {

  &__return-button {
    display: flex;
    width: 170px;
    height: 50px;
    background: #0DD4C4;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    align-items: center;
  }

  &__return-button-title {
    font-size: 25px;
    color: black;
  }
}