.slide-form{

  &__content {
    display: flex;
    min-width: 160px;
    height: 78px;
    background: #38304D;
    border-radius: 15px;
    margin-bottom: 2px;
    margin-top: 30px;
  }

  &__name-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__name {
    display: flex;
    align-items: center;
    b {
      font-size: 29px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      font-weight: normal;
    }
  }

  &__slide-button {
    display: flex;
    width: 100%;
    min-width: 160px;
    height: 78px;
    border-radius: 15px;
  }

  &__arrow-button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    border: none;
    background-color: #38304D;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 78px;
    border-radius: 15px;
  }

  &__arrow-up {
    margin-top: 75px;
    margin-left: 20px;
    rotate: 180deg;
    margin-right: 11px;
  }

  &__arrow-down {
    margin-top: 40px;
    margin-right: 11px;
  }

  &__arrow-up-right {
    margin-right: 10px;
  }
}