.status-use-case{
  &__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', serif;
    margin-left: 100px;
  }
  &__green-icon {
    fill: green;
  }
  &__yellow-icon{
    fill: yellow;
  }
  &__red-icon{
    fill: red;
  }
}
