.user-forms-container {
    width: 100%;
    min-width: 2100px;
    height: auto;
    min-height: 1040px;
    padding-bottom: 30px;
    background: #615E67;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__forms-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 80%;
        min-width: 1500px;
        height: auto;
        min-height: 735px;
        background: #140B2A;
        margin-bottom: 20px;
        margin-left: 100px;
        border-radius: 15px;
    }

    &__return-container {
        display: flex;
        align-items: start;
        width: 80%;
        min-width: 1500px;
    }
}



