@import '../../../../../../../../index';

.text-input {
    background-color: $fa-color-blue-light;
    border: 0;
    border-radius: 10px;
    color: $fa-color-white-primary;
    font-size: 15px;
    margin-top: 10px;
    outline: none;
    padding: 7px;
    padding-left: 12px;

    &::placeholder {
        color: $fa-color-white-primary;
    }

    &:focus {
        outline: none;
    }
}

.line-input {
    padding: 0.375rem 0.75rem;
}