@import '../../../../../index';

.button {
    border-radius: 20px;
    border: 0;
    height: 50px;
    width: 240px;
    text-align: center;
    padding-left: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: $fa-color-black;
    background-color: transparent;
    text-transform: capitalize;
    overflow: hidden;
    cursor: move;
  }

.btn-effect {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: url("../../../../../assets/Icon_Arrow.svg");
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 50px;
      width: 50px;
      height: 100%;
      border-radius: 50% 0 0 50%;
      transform: scale(0, 1);
      transition: all 0.3s linear 0s;
      transform-origin: right center;
      text-align: center;
      transition: all 0.2s linear 0.1s;
    }
    
    &:hover {
      text-indent: 0px;
      background-color: $fa-color-blue-dark;
      color: $fa-color-white-primary;
      fill: $fa-color-white-primary;
      
      &:before {
        transform: scale(0.8, 1);
        right: 0;
        text-indent: 0px;
      }
    }
  }