@import '../../../../../../../index';

.form-section {
    background-color: $fa-color-blue-dark;
    border-radius: 20px;
    height: 400px; // aproximadamente
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;

    &__title {
        color: $fa-color-white-primary; // quitar segun se avance
    }

}
