@import '../../../../../../../../index';

.delete {
    cursor: pointer;
    background-color: initial;
    border: none;

    &:hover .delete__text {
        visibility: visible;
    }

    &__text {
        background-color: $fa-color-black;
        border-radius: 5px;
        color: $fa-color-white-primary;
        font-size: 13px;
        margin-left: -39px;
        margin-top: 28px;
        padding: 3px 0;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 60px;
        z-index: 10;

        &:after {
            border-style: solid;
            border-width: 5px;
            content: "";
            position: absolute;
        }

        &:after{
            border-color: transparent transparent $fa-color-black transparent;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
        }
    }

    &__icon {
        fill: transparent;

        &:hover {
            stroke: $fa-color-white-primary;
        }
    }
}
